@use 'animation' as *;
@use 'flight-path-anim' as *;
@use 'game-objects' as *;

/* CSS Reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

s body {
    position: relative;
    min-height: 100vh;
}

.clickable:hover {
    cursor: pointer;
    /* Changes the cursor to a pointer (hand) */
}

.modal {
    top: 50%;
    left: 50%;
}

.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(110, 102, 102, 0.493);
}

.div-game-container {
    position: absolute;
    /* implment 3:4 aspect ratio with a height of 640px for now */
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 360px;
    height: 480px;
    border: 2px solid black;
    background-color: whitesmoke;
    overflow: hidden;
}

input {
    background-color: rgba(255, 255, 255, 0.462);
}

#main-screen-foreground {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("../images/main-page-foreground.webp");
    background-size: cover;
    background-position: 60% 0%;
    background-blend-mode: color-burn;
    background-color: rgba(0, 0, 0, 0.081);
}

#main-screen-background {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("../images/galaxy-1736072645982-9264.webp");
    background-size: cover;
    background-position: 60% 0%;
}

.div-screen {
    position: absolute;
    height: inherit;
    width: inherit;
}

#screen-white-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    opacity: 0;
    pointer-events: none;
}

.div-header>*>* {
    margin: 1rem;
}

.div-header * {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-size: large;
}

#left-header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;

}

#right-header {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
}

.div-title {
    position: absolute;
    top: 0;
    bottom: 15rem;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;

    font-size: 4em;
    font-family: "VT323", sans-serif;
    font-weight: 400;
}

.div-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-menu * {
    text-align: center;
    margin: .5rem;
    width: fit-content;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-size: x-large;
}

#screen-credits {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: url("../images/credits_background.webp");
    background-size: cover;
    background-position: 60% 0%;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.434);
}

#credits-title {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
}

#credits-menu {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;
}

.div-credits {
    position: relative;
    text-align: center;
    margin: auto;
    width: 90%;
    font-family: "Audiowide", sans-serif;
    // font-weight: 100;
    font-size: small;
}

#input-player-name {
    width: 100%;
}

#difficulty-selector {
    display: flex;
    justify-content: center;
}

#player-name {
    font-size: small;
}

#screen-pause {
    background-color: rgba(124, 92, 92, 0.463);
}

#screen-stage-cleared {
    background: url("../images/stage-clear-background.webp");
    background-size: cover;
    background-position: 60% 0%;
    background-blend-mode: overlay;
    // background-color: rgba(0, 0, 0, 0.234); 
}

#screen-game-over {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: url("../images/game-over-background.webp");
    background-size: cover;
    background-position: 60% 0%;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.234);
}

.high-vis-font {
    color: rgb(0, 44, 59);
    text-shadow:
        -1px -1px 0 rgb(88, 213, 255),
        /* Top-left shadow */
        1px -1px 0 rgb(88, 213, 255),
        /* Top-right shadow */
        -1px 1px 0 rgb(88, 213, 255),
        /* Bottom-left shadow */
        1px 1px 0 rgb(88, 213, 255);
    /* Bottom-right shadow */
}

.strike-through {
    text-decoration: line-through;
    text-decoration-thickness: 2px;  
    text-decoration-color: rgba(255, 0, 0, 0.671);
}

@media (min-width: 768px) {
    .div-game-container {
        width: 480px;
        height: 640px;
    }

    .div-credits {
        font-size: medium;
    }
}

@media (min-width: 768px) and (min-height: 1080px) {
    .div-game-container {
        width: 720px;
        height: 960px;
    }

    .div-credits {
        font-size: large;
    }

}